body {
    background-color: #243b55;
    font-family: sans-serif;
    margin: 0;
}

.header {
    background-color: #1b3156;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    padding: 1rem 2rem;
}

.title {
    font-size: 1.875rem;
}

.navigation {
    display: flex;
}

.nav-link {
    font-size: 1.25rem;
    color: #ffffff;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    border-radius: 0.25rem;
    text-decoration: none;
}

.profile-container {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    justify-content: space-between;
    margin-top: 2rem;
    padding: 0 2rem;
    position: relative;
}

.profile {
    height: min-content;
    width: 30%;
    position: sticky;
    top: 8px;
    left: 0;
}

.profile-info {
    background-color: #395a7a;
    border-radius: 0.5rem;
    padding: 2rem;
    margin-bottom: 2rem;
}

.profile-image {
    border-radius: 100%;
    position: relative;
}


.profile-image::after {
    border-radius: 100%;
    content: "";
    display: block;
    padding-bottom: 100%;
}

.profile-image img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 100%;
}

#profile-image-upload-input {
    display: none;
}

.profile-image div {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.58);
    color: white;
    display: none;
    place-items: center;
    font-size: 2rem;
    cursor: pointer;
}


.profile-image:hover div {
    display: grid;
}

#avatar-upload-form {
    position: absolute;
    width: 100%;
    top: -1rem;
    left: 0rem;
}

.profile-name {
    font-size: 2.25rem;
    font-weight: bold;
    color: #ffffff;
}

.profile-email {
    color: #ffffff;
}

.add-post-button {
    outline: none;
    border: none;
    background-color: #395a7a;
    color: #ffffff;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    text-decoration: none;
}

.profile-upload-btn, .profile-close-btn {
    cursor: pointer;
    outline: none;
    border: none;
    background-color: #749abe;
    color: #ffffff;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    text-decoration: none;
    position: absolute;
    margin: 0 1rem;

}


.profile-close-btn {
    right: 0;
    background-color: rgba(225, 78, 78, 0.83);
}

.hidden {
    display: none;
}

.posts-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 60%;
}

.post {
    background-color: #294764;
    border-radius: 0.5rem;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.post-header {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.post-header div {
    display: flex;
    gap: .2rem;
    flex-direction: column;
}

.post-header div * {
    margin: 0;
}

.post-header div p {
    font-size: 0.875rem;
    color: #aeb8d9;
}

.post-avatar {
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
}

.post-username {
    font-size: 1.25rem;
    font-weight: bold;
    color: #ffffff;
}

.post-description {
    font-size: 1.125rem;
    color: #ffffff;
}

.post-image {
    width: 100%;
    max-height: 600px;
    object-fit: cover;
    border-radius: 0.5rem;
}

@media screen and (max-width: 900px) {
    .profile-container {
        flex-direction: column;
        gap: 3rem;
    }

    .profile {
        width: 100%;
        position: static;
    }

    .profile-image {
        max-width: 100%;
    }

    .posts-container {
        width: 100%;
    }
}